<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <nav class="navber navbar-defualt">
         <div class="container-fluid">
             <div class="navbar-header">
             <a class="navbar-brand" asp-controller="home" asp-action="Index">MyApp</a>
         </div>
         <ul class="nav navbar-nav">
             <li><a asp-controller="Home" asp-action="Index">home</a></li>
             <li><a asp-controller="Home" asp-action="Student">Student</a></li>
         </ul>
        </div>
   </nav>
     
    <div>
        @RenderBody()
    </div>

    <div class="navbar navbar-defualt navbar-fixed-bottom">
        <div class="container-fluid">
            <span class="navbar-text">
                My Footer
            </span>
        </div>
    </div>
</body>
</html>
